.red {
	color: red;
}

.toast-top-center {
	padding-top: 50px;
	margin: 0 auto;
}

.content-header {
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 15px;
}

.pagination {
	float: right;
	margin: 0 !important;
}